<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta</title>
    <link rel="stylesheet" href="resposta.css">
</head>
<body>
    <h1>Resposta:</h1><br><br>
    <h2><%= resposta %></h2><br>
    <a href="home.html">Voltar</a>
</body>
</html>